
page {
  --nut-input-font-size: 16px;
  --nut-form-item-label-font-size: 16px;
  --nut-radio-label-font-size: 16px;
  --nut-font-size-0: 12px;
  --nut-font-size-1: 14px;
  --nut-font-size-2: 16px;
  --nut-font-size-3: 18px;
  --nut-font-size-4: 20px;
}

@font-face {
  font-family: 方正粗倩体;
  src: url('../../assets/font/方正粗倩体.TTF');
}
@font-face {
  font-family: 方正尚酷简体;
  src: url('../../assets/font/方正尚酷简体.TTF');
}
.font-fzcq{
  font-family: 方正粗倩体;
}
.font-fzsk{
  font-family: 方正尚酷简体;
}
.safe-area-bottom {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
.flex{
  display: flex;
}
.flex-grow-1{
  flex-grow: 1;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.justify-around{
  justify-content: space-around;
}
.align-center{
  align-items: center;
}
.align-start{
  align-items:flex-start;
}
.margin-top {
  margin-top: 16px;
}
.margin-top-lg{
  margin-top: 32px;
}
.margin-top-xl{
  margin-top: 64px;
}
.margin-top-sm{
  margin-top: 8px;
}
.margin-top-xs{
  margin-top: 4px;
}
.margin-tb{
  margin-top: 16px;
  margin-bottom: 16px;
}
.margin-tb-sm{
  margin-top: 8px;
  margin-bottom: 8px;
}
.margin-tb-xs{
  margin-top: 4px;
  margin-bottom: 4px;
}
.margin-lg{
  margin: 32px;
}
.margin-left{
  margin-left: 16px;
}
.margin-left-xs{
  margin-left: 8px;
}
.margin-left-lg{
  margin-left: 32px;
}
.margin-left-xl{
  margin-left: 48px;
}
.margin-right{
  margin-right: 16px
}
.margin-bottom{
  margin-bottom: 16px
}
.margin-bottom-sm{
  margin-bottom: 8px;
}
.margin{
  margin: 16px
}
.margin-lr{
  margin-left: 16px;
  margin-right: 16px;
}
.margin-lr-sm{
  margin-left: 8px;
  margin-right: 8px;
}
.margin-auto{
  margin: auto;
}
.padding{
  padding: 16px;
}
.padding-tb{
  padding-top: 16px;
  padding-bottom: 16px;
}
.padding-tb-lg{
  padding-top: 32px;
  padding-bottom: 32px;
}
.padding-sm{
  padding: 8px;
}
.padding-left{
  padding-left: 16px;
}
.pading-right{
  padding-right: 16px;
}
.padding-top{
  padding-top: 16px;
}
.padding-bottom{
  padding-bottom: 16px
}
.padding-bottom-sm{
  padding-bottom: 8px;
}
.radius{
  border-radius: 10px;
}
.bg-white{
  background-color: white;
}
.text-red {color: #e54d42} /* 嫣红 #e54d42 */
.text-orange {color: #f37b1d}  /* 桔橙 #f37b1d */
.text-yellow {color: #fbbd08} /* 明黄 #fbbd08 */
.text-olive {color: #8dc63f} /* 橄榄 #8dc63f */
.text-green {color: #39b54a} /* 森绿 #39b54a */
.text-cyan {color: #1cbbb4} /* 天青 #1cbbb4 */
.text-blue  {color: #0081ff}/* 海蓝 #0081ff */
.text-purple {color: #6739b6} /* 姹紫 #6739b6 */
.text-mauve {color: #9c26b0} /* 木槿 #9c26b0 */
.text-pink {color: #e03997} /* 桃粉 #e03997 */
.text-brown {color: #a5673f} /* 棕褐 #a5673f */
.text-grey  {color: #8799a3}/* 玄灰 #8799a3 */
.text-gray {color: #aaaaaa} /* 草灰 #aaaaaa */
.text-black {color: #333333} /* 墨黑 #333333 */
.text-white {color: #ffffff} /* 雅白 #ffffff */
.text-normal{
  font-size: 14px;
}
.text-sm{
  font-size: 12px;
}
.text-lg{
  font-size: 18px;
}
.text-xl{
  font-size: 20px;
}
.text-xxl{
  font-size: 26px;
}
.text-bold{
  font-weight: bold;
}
.text-bolder{
  font-weight: bolder;
}
.text-slim{
  font-weight: 300;
}
.text-center{
  text-align: center;
}
.primary-button{
  height: 40px;
  line-height: 40px;
  color: white;
  font-size: 14px;
  border-radius: 20px;
  background-color: #F26C4E;
  padding-left: 20px;
  padding-right: 20px;
}
.primary-button-sm{
  height: 30px;
  line-height: 30px;
  color: white;
  font-size: 14px;
  border-radius: 20px;
  background-color: #F26C4E;
  padding-left: 20px;
  padding-right: 20px;
}
.radius{
  border-radius: 16px;
}
.radius-sm{
  border-radius: 8px;
}
.logo-bottom {
  width: 184px;
  height: 37px;  
}
.avatar-lg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: url('../img/img-weapp-avatar.png');
  background-size: contain;
}
.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url('../img/img-weapp-avatar.png');
  background-size: contain;
}
.box-shadow{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.id-example {
  width: 298px;
  height: 58px;
  margin: auto;
}
// 解决iPhone x 以后的机型 底部安全区域的问题 https://jelly.jd.com/article/6006b1055b6c6a01506c87fd